*{
    margin: 0px;
    padding: 0px;    
}

.width{
    width: 70%;
    margin: 2px auto;
}

/* Up Button CSS */
.up-button{
    text-align: right;
    margin-top: 3px;
}
.common-css{
    border: none;
    background-color: white;
    color:#3C2E7E;
    border: 1px solid #3C2E7E;
    border-radius: 5px;
    padding: 9px 15px;
    font-size: 12px;
    font-family: 'Exo 2', sans-serif;
    font-weight: 700;
    cursor: pointer;
}
.left-btn{
    margin-right: 5px;
}

/* Navbar CSS  */
.main-div{
    display: flex;
    margin-top: 10px;
    padding-top: 7px;
    padding-bottom: 15px;
}
.logo{
    background: url('../Photos/logo.png') no-repeat center center/cover;
    width: 239px;
    height: 60px;
}
.nav-item{
    padding-top: 20px;
}
.nav-item ul{
   display: flex;
   padding-left: 155px;
   display: inline-block;
   
}
.nav-item ul li {
     list-style: none;
     display: inline-block;
}
.nav-item ul li a{
    text-decoration: none;
    color: #3C2E7E;
    font-size: 14px;
    font-weight: 400;
    margin-left: 16px;
    display: block;
    position: relative;
    font-family: 'Noto Sans JP', sans-serif;    
}
.nav-item ul li a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #3C2E7E;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
}
.nav-item ul li a:hover:before {
    visibility: visible;
    transform: scaleX(1);
}
.nav-item ul li a:hover{
     transform: scale(1.1);
     font-weight: 500;

}

/* Hover Content CSS  */
#product-content{
    background-color: #3c2e7e;
    font-family: 'Roboto', sans-serif;
    display: none;
    position: absolute;
    top: 130px;
    width: 100%;
    
}
.pc-main-content{
    color: white;
    display: flex;
}
.pc-coloum1{
    margin-top: 10px;
}
.pc-main-box{
    border: 1px solid #1F0F6C;
    margin: 20px;
    width: 350px;
    padding: 10px;
    border-radius: 15px;
    background-color: #1F0F6C;
    box-shadow: 0px 0px 10px 0px #00000026;
}
.pc-head{
    font-size: 18px;
    margin-bottom: 10px;
}
.pc-same{
    margin-top: 15px;
}
.pc-para-head{
    font-size: 12px;
    margin-bottom: 3px;
}
.pc-para{
    font-size: 15px;
}


.pc-coloum2{
    width: 300px;
    margin: 15px;
    padding-top: 15px;
    padding-left: 15px;
}
.pc-coloum2 ul{
    list-style-type: none;
}
.pc-coloum2 ul li{
    font-size: 15px;
    line-height: 25px;
    transition: 0.2s;
}
.pc-coloum2 ul li:hover{
    transform: translateX(15px);
}

.pc-coloum3{
    margin: 15px;
    padding-top: 15px;
    padding-left: 15px;
}
.pc-c3-btn{
    border: none;
    background-color: #1F0F6C;
    color: white;
    font-size: 15px;
    padding: 12px 23px;
    border-radius: 5px;
    margin-top: 15px;
    font-family: 'Exo 2', sans-serif;
    box-shadow: 0px 0px 10px 0px #00000026;
    cursor: pointer;
}
.pc-c3-imagebox{
    margin-top: 15px;
}
.pc-c3-imagebox img{
    margin-left: 15px;
}


#product-content-2{
    background-color: #3c2e7e;
    font-family: 'Roboto', sans-serif;
    display: none;
    position: absolute;
    top: 130px;
    width: 100%;
    
}
#product-content-3{
    background-color: #3c2e7e;
    font-family: 'Roboto', sans-serif;
    display: none;
    position: absolute;
    top: 130px;
    width: 100%;
    
}
#product-content-4{
    background-color: #3c2e7e;
    font-family: 'Roboto', sans-serif;
    display: none;
    position: absolute;
    top: 130px;
    width: 100%;
    
}
/* Section-1 CSS  */
.section-1{
    display: flex;
    margin-top: 50px;
}
.left-box{
    flex-basis: 50%;
    padding-top: 200px;

}
.section1-content{
    color: #3C2E7E;
    font-size: 35px;
    font-weight: 500;
    line-height: 45px;
    font-family: 'Assistant', sans-serif;
    
}
.section1-btn{
    border: none;
    background-color: #3C2E7E;
    color: white;
    font-size: 15px;
    padding: 12px 23px;
    border-radius: 5px;
    margin-top: 15px;
    font-family: 'Exo 2', sans-serif;
    box-shadow: 8px 8px 12px 0px #3c2e7e3d;
    cursor: pointer;
}
.right-box{
    flex-basis: 50%;
    /* border: 1px solid green; */
    /* background: url('../Photos/Homepage-1_v3.gif') no-repeat center center/cover; */
    height: 511px;

}

/* Section-2 CSS  */
.section-2{
  margin: 15px 10px;
  /* border: 2px solid yellow;    */
  
}
.section2-content-1{
    /* margin-left: 34px; */
    margin-bottom: 15px;
    color: #4A4A4A;
    font-size: 15px;
    padding-left: 50px;
}
.section2-content-2{
    margin-bottom: 15px;
    
    padding-left: 50px;
    
}

.section2-boxes{
    display: grid;
    grid-template-columns:repeat(7,125px);
    grid-gap: 12px;
    padding-left: 49px;
}
.item{
    border: 1px solid #4A90E2;
    box-shadow: 10px 10px 15px 0px #3c2e7e21;
    
}
.common-img-grid{
    width: 50px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-top: 3px;
}
.box-content-grid{
    
    text-decoration: none;
    color: #3C2E7E;
    font-family: 'Assistant', sans-serif;


}

/* Section-3 CSS  */
.section-3{
    display: flex;
    margin-top: 50px;
}
.section3-content-3{
    padding-top: 25px;
    /* color: #4A4A4A; */
    color: black;
    font-size: 16px;
    /* font-family: 'Assistant', sans-serif; */
    line-height: 24px;
    /* font-weight: 400; */
    padding-right: 136px;
    text-align: justify;
    font-family: 'Roboto', sans-serif;
}
.s-3-l-b{
    padding-top: 100px;
}
.s-3-r-b{
    padding-top: 50px;
}

/* Section 4 CSS  */
.section-4{
    display: flex;
    margin-top: 5px;
}

.s-4-l-b{
    padding-top: 140px;
    
}
.s-4-i-1{
    color: white;
    font-size: 17px;
    padding-right: 6px;
}
.s-4-b-2{
    margin-left: 10px;
}
.s-4-i-2{
    color: white;
    font-size: 17px;
    padding-right: 4px;
}

/* Section 5 CSS  */

.section-5{
        display: flex;
        margin-top: 5px;
}
.section5-content-1{
    padding-right: 35px;
}
.s-5-c-2{
   padding-right: 70px
}
.s-5-r-b{ 
    /* b for box  */
    padding-top: 100px;
    padding-left: 70px;
}
.s-5-l-b{
    padding-top: 70px;
}

.btns-js{
    margin-top: 15px;
}
.s-5-bjs{
    /* width: 100%;
    border: none;
    text-align: left;
    /* text-decoration: underline; 
    color: #4A4A4A; */

    background-color: #fff;
    color: #4A4A4A;
    cursor: pointer;
    padding: 12px 0px;
    width: 100%;
    border: none;
    border-bottom: 1px solid #C8C8C8;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    line-height: 15px;
}
.s-5-para{
    display: none;
    background-color: #fff;
    /* color: #4A4A4A; */
    cursor: pointer;
    padding: 12px 0px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 16px;
    /* transition: 0.4s; */
    line-height: 18px;
}

/* section 6 CSS  */
.main-box{
    display: flex;
    padding: 15px 30px;
}
.mini-box{
    flex-basis: 50%;
    border: 2px solid #3C2E7E;
    margin: 10px 5px;
    display: flex;
    padding: 40px 10px;
    padding-bottom: 30px;
    background-color: white;
}
.pro-icon{
    padding: 5px 10px;
}
.pro-content{
    padding: 5px 10px;
}
.pro-content-row-1{
    font-size: 25px;
    color: black;
    font-weight: 400;
    padding-bottom: 5px;
}
.pro-content-row-2{
    font-size: 20px;
    color: #4A4A4A;
    font-weight: 400;
    padding-bottom: 5px;
}
.pro-content-row-3{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #4A4A4A;
    line-height: 18px;
}
.mini-box:hover{
    background-color: #3c2e7e;
}
.mini-box:hover .same{
    background-color: #3c2e7e;
    color: #fff;
}

/* Section 7 CSS  */
.section-7{
    display: flex;
    margin-top: 5px;
}
.img7{
    position: absolute;
    z-index: -1;
}
.contaact-box{
    border: 2px solid #4A90E2;
    background-color: white;
    border-radius: 5px;
    margin-left: 160px;
    margin-top: 130px;
    width: 225px;
    display: inline-block;  
}
.cotact-head{
    padding-top: 15px;
    /* font-family: 'Assistant', sans-serif; */
    font-size: 16px;
    line-height: 24px;
    color: #000;
    font-family: 'Roboto', sans-serif;
    padding-left: 24px;
}
.contact-title{
    color: #3C2E7E;
    font-size: 25px;
    font-weight: 500;
    line-height: 25px;
    padding-left: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Assistant', sans-serif;
}
.contact-row1{
    padding-left: 25px;
    /* padding-bottom: 0px; */
    line-height: 30px;    
}
.contact-row1 a{
    font-family: 'Roboto', sans-serif;
    cursor: pointer;   
}

/* Section 8 CSS  */

.section-8{
    border: 1px solid #3C2E7E;
    border-radius: 5px;
}
.section-8 ul{
    display: flex;
    margin: 40px 140px;
}
.section-8 ul li{
    list-style-type: none;
    padding-left: 25px;
    font-size: 20px;
    color: #3C2E7E;
    font-family: 'Roboto', sans-serif;

}

/* footer CSS  */
footer{
    background-color: #3c2e7e;
    color: white;
    margin-bottom: 80px;
    margin-top: 50px;
    box-shadow: 8px 8px 12px 0px #3c2e7e3d;
}
.f-main-container{
    padding-top: 25px;
    width: 70%;
    margin: 2px auto;
    /* border: 1px solid red; */
}
.f-section-1{
    display: flex;
}
.f-s-1-coloum1{
    flex-basis: 40%;
}
.f-s-1-coloum1-list ul{
    padding-right: 100px;
    padding-top: 25px;
}
.f-s-1-coloum1-list ul li{
    display: flex;
}
.f-s-1-coloum1-list ul li p{
    padding-left: 15px;
    line-height: 30px;
    padding-right: 10px;
    font-family: 'Roboto', sans-serif;
}
.f-s-1-coloum1-list ul li p i{
    font-size: 20px;
}

.f-s-1-coloum1 span img{
    width: 350px;
    height: 90px;
}

.f-s1-c2-head{
    font-size: 22px;
    font-family: 'Roboto', sans-serif;

}
.f-s-1-coloum2{
    flex-basis: 20%;
}

.comon-coloum ul{
    padding-top: 25px;
}
.comon-coloum ul li{
     list-style-type: none;
     line-height: 33px;
     font-family: 'Roboto', sans-serif;
     
}
.comon-coloum ul li a{
     color: white;
     text-decoration: none;
     /* lcomon-coloum5px; */

}
.f-s-1-coloum3{
    flex-basis: 20%;
}
.f-s-1-coloum4{
    flex-basis: 20%;
}